$violet: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;

$grey:rgb(245, 245, 245);
$darkgrey:rgb(240, 240, 240);
$darkergrey:rgb(200, 200, 200);

$lightblack:rgb(75, 75, 75);
$lighterblack:rgb(100, 100, 100);

$darkermint:#239e8a;

$white:rgb(255, 255, 255);
$black: rgb(0, 0, 0);