.button_gradiant{
    display: flex;
    background: linear-gradient(175deg, $pink 0%, $violet 100%);
    border-radius: 40px;
    height: 65px;
    width: 270px;
    align-items: center;
    justify-content: center;
    color: $white;
    @include rob-font;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 5px 10px $darkergrey;
    text-decoration: none;
}

