.tag_new{
    height: fit-content;
        background-color: $mint;
        color:$darkermint;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        padding-block: 10px;
        padding-inline: 15px;
        margin: 20px;
}