.menu_display{
    display: flex;
    background-position:top;
    background-size: auto 350px;
    width: 100%;
    height: 380px;
    align-items: flex-end;
}
.menu_display-portrait{
    display: flex;
    background-position:center;
    background-size: cover;
    height: 380px;
    width: 100%;
    align-items: flex-end;
}

.menu_display_head{
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: $grey;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-inline: 25px;
    i{
        padding: 10px;
    }
}

.menu_group{
    display: flex;
    flex-flow: column nowrap;
    background-color: $grey;
    width: 100%;
    h2{
        display: flex;
        align-items: flex-end;
        color: $lightblack;
        text-transform:uppercase;
        font-weight: 500;
        font-size: 20px;
        height: 75px;
        padding-block-end: 5px;
        margin-block-end: 25px;
        margin-inline-start: 5%;
        width: 50px;
        box-shadow: 0 4px 0 $mint;
    }
}

.menu_group_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.menu_item{
    display: flex;
    flex-flow: row;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    width: 95%;
    height: 75px;
    border-radius: 20px;
    margin-block-end: 20px;
    box-shadow: 0 2px 10px $darkergrey;
}

.menu_item_info{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-block: 15px;
    padding-inline: 20px;

    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,.37,.85,1.03);
    div{
        display: flex;
        flex-flow: column;
        white-space: nowrap;
        overflow: hidden;
        h3{
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            font-size: 18px;
            font-weight: 500;
            color: $lightblack;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    span{
        font-weight: 800;
        font-size: 20px;
        color: $lightblack;
        padding-left: 10px;
    }
}

.menu_item_check{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    width: 0;
    background-color: $mint;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,.37,.85,1.03);
    i{
        font-size: 28px;
        color: $white;
        padding: 25px;
    }
}

.menu_placeorder{
    display: flex;
    justify-content: center;
    background-color: $grey;
    padding-block-start: 50px;
    padding-block-end: 100px;
    width: 100%;
}